* {
  box-sizing: border-box;
}

body {
  font: normal 16px Helvetica, Arial, sans-serif;
  color: #f0f0f0;
  background: #141414;
  box-sizing: border-box;
  margin: 0;
}

main {
  max-width: 1000px;
  background: #333333;
  padding: 25px 20px 20px;
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
}

h1 { text-align: center;}

img {
  display: block;
  width: 100%;
  box-sizing: border-box;
  height: auto;
}

figure {
  margin: 0;
  padding: 0 0 30px;
}

figure > img {
  border: 15px solid white;
}

figcaption {
  display: block;
  padding-top: 10px;
}

ul {
  font-size: 0;
  margin: 0 -15px;
  padding: 0;
}

li {
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: 30px;
  padding: 0 15px;
  vertical-align: top;
  width: 25%;
}

li > img {
  border: 3px solid white;
}

@media screen and (min-width: 1280px) {
  main {
    max-width: 100%;
  }

  figure {
    display: inline-block;
    float: left;
    margin-right: 50px;
    vertical-align: top;
    width: 950px;
  }

  ul {
    overflow: hidden;
  }

  li {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  li { max-width: 33.33%; }
}

@media screen and (max-width: 600px) {
  li { max-width: 50%; }
}